*{
    box-sizing: border-box;
    font-family: 'CaslonAntique', serif;
    line-height: 1.6;
}

body {
    margin: 0;
    background-color: #000000;
    color: aliceblue;
    min-height: 100vh;
}

@font-face {
  font-family: 'AltarGothicDemo-Regular';
  src: url('altar-gothic-demo/AltarGothicDemo-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CaslonAntique';
  src: url('caslon-antique/CaslonAntique.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

main h2{
    font-family: 'AltarGothicDemo-Regular', sans-serif;
    letter-spacing: 3px;
    font-size: 50px;
}

.container{
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
}

.inicio {
    background-image: url('pictures/introBackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;}

header{
    width: 100%;    
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
}

.header-container{
    display: flex;
    width: 70%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

#fixed-header{
    position: fixed;
    height: 100px;
    width: 100%;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.774);
    background: rgba(0, 0, 0, 0.733);
}

#headerLeft{
    padding: 30px;
    display: flex;
    align-items: center;
}

#headerLeft img{
    width: 200px;
}

#headerRight{
    display: flex;
    align-items: center;
    padding: 30px;
}

nav {
    display: flex;
    width: 100%;
    justify-content: end;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li{
    padding-right: 25px;
    font-size: 25px;
}

nav a{
    text-decoration: none;
    color: aliceblue;
}

li button{
    padding-left: 20px;
    width: 75px;
}

#intro{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-text{
    text-align: center;
    color: white;
    text-shadow: 4px 4px 4px #000000;
    margin-bottom: 200px;
    margin-top: 200px;
}

.intro-text h2{
    margin-bottom: 10px;
}

.intro-text p{
    font-size: 24px;
}

main {
    background-image: url("https://static.wixstatic.com/media/05e3dc_9a652459a41748d1bba89f5918d38055.jpg/v1/fill/w_1920,h_560,al_c,q_85,enc_auto/05e3dc_9a652459a41748d1bba89f5918d38055.jpg");
    background-size: auto;
    background-repeat: repeat-y;
    background-position: center bottom;
}

main a{
    text-decoration: none;
    color: aliceblue;
    transition: 0.3s;
}

main a:hover{
    text-decoration: underline;
    transition: 0.3s;
}

.main-container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px 20px 20px;
}

.content{
    font-size: 25px;
}

.main-container h2{
    text-align: center;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-main{
    list-style: none;
    margin: 10px;
    width: 300px;
    text-align: center;
    align-items: center;
}

.card-main img{
    width: 80%;
    height: auto;
    border-radius: 10px;
    border: 2px solid aliceblue;
}

.cards a {
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    transition: 0.3s;
}

.cards a:hover {
    text-decoration: underline;
}

hr{
    border: 1px solid aliceblue;
    margin: 60px 0;
}

#story-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.hCard{
    display: flex;
    flex-wrap: wrap;
}

.hCard p{
    width: 100%;
    max-width: 600px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.hCard img{
    width: 300px;
    margin: auto;
    border: 2px solid aliceblue;
    border-radius: 10px;
}

.saiba-mais{
    border: 2px solid aliceblue;
    padding: 5px;
    border-radius: 5px;
    transition: 0.3s;
}

.saiba-mais:hover{
    background: rgba(216, 216, 216, 0.24);
    color: aliceblue;
    transition: 0.3s;
}

footer{
    background: rgba(0, 0, 0, 0.534);
    color: rgb(134, 134, 134);
    text-align: center;
    font-size: 20px;
    padding: 30px;
    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.774);
}

footer a{
    color: rgb(134, 134, 134);
    transition: 0.3s;
}